Repository SUSE/ceph, pull requests merged in 2022-03, with the labels that each got.

#454 mgr/dashboard: Adapt downstream branded navigation page
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.brand.html
Labels: bug, pybind, dashboard

#457 mgr/prometheus: Fix regression with OSD/host details/overview dashboards
  doc/mgr/prometheus.rst
  monitoring/grafana/dashboards/host-details.json
  monitoring/grafana/dashboards/hosts-overview.json
  monitoring/grafana/dashboards/osd-device-details.json
  src/pybind/mgr/dashboard/cherrypy_backports.py
  src/pybind/mgr/prometheus/module.py
  src/pybind/mgr/prometheus/test_module.py
  src/pybind/mgr/requirements.txt
  src/pybind/mgr/tox.ini
Labels: bug, needs-review

#465 ses7p: mgr/cephadm: try to get FQDN for configuration files
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/services/monitoring.py
Labels: pybind, cephadm, monitoring

#467 cephadm: infer the default container image during pull
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
Labels: cephadm

#469 cephadm: update image paths to registry.suse.com
  src/cephadm/cephadm
  src/cephadm/tox.ini
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/tox.ini
Labels: DNM

#444 [SES7] Notify user that there is a SES7.1 upgrade available
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/dashboard/plugins/ses7p_motd.py
Labels: enhancement, DNM, dashboard

#472 ceph.spec.in: remove build directory during %clean (bsc#1196733)
  ceph.spec.in
Labels: build/ops
