Repository SUSE/ceph, pull requests merged in 2023-04, with the labels that each got.

#499 ceph-volume: fix regression in activate
  src/ceph-volume/ceph_volume/devices/raw/list.py
Labels: ceph-volume

#497 mgr/cephadm: fix handling of mgr upgrades with 3 or more mgrs
  src/pybind/mgr/cephadm/upgrade.py
Labels: pybind, cephadm

#500 mgr: don't dump global config holding gil
  src/mgr/ActivePyModules.cc
Labels: core, mgr

#496 cephadm: reschedule haproxy from an offline host
  src/pybind/mgr/cephadm/tests/test_scheduling.py
  src/pybind/mgr/cephadm/utils.py
Labels: pybind, cephadm

#498 mgr/cephadm: fix backends service in haproxy config with multiple nfs of same rank
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/services/ingress.py
  src/pybind/mgr/cephadm/tests/test_services.py
Labels: pybind, cephadm
